{% extends 'base.html' %}

{% block title %}
名人图片相识查找
{% endblock %}
{% block content %}
<form id='image-form' method="POST">
    {% csrf_token %}
    <input type="file" name="img" onchange="showPreview(this)"/>
    <input type="submit" name="submit" value="upload"/>
</form>
<div>
    <p>Origin Image</p>
    <img id='origin_img' />
</div>
<div>
    <p>Similar Celebrity</p>
    <div id='result'>
</div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
<script type="text/javascript">
    function showPreview(source) {
        var file = source.files[0];
        if(window.FileReader) {
        var fr = new FileReader();
        fr.onloadend = function(e) {
            $('#origin_img').attr('src', e.target.result);
        }
        fr.readAsDataURL(file);
        }
    }
    $('#image-form').submit(function(){
        var file_obj = $("input[name='img']")[0].files[0];
        $('#suc').text('kadsf')
        var form_obj = new FormData();
        form_obj.append("img", file_obj);
        $.ajaxSetup({                     //设置csrf_token
            beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", $.cookie("csrftoken"));
            }
        });
        $.ajax({
            type: "POST",
            url: "{% url 'upload' %}",
            data: form_obj,
            processData: false,
            contentType: false,
            success: function(data){
                if(data['status']=="fail")
                {
                    alert("Don't find face in the image!");
                }
                else if(data['status']=="success")
                {
                    console.log(data)
                    if(data['query_results'].length==0)
                    {
                        alert("No similar celebrity in our database!");
                        return false;
                    }
                    CreateTable('result',1,5);
                    var i=0;
                    data['query_results'].forEach(elem => {
                        $("#img"+i).attr('src', elem['path']);
                        i++;
                    });
                }
            }
        });
        return false;
    });
    
    function CreateTable(tableid,rowCount,cellCount)
    {
        $('#'+tableid).empty();
        var table=$("<table border=\"1\">");
        table.appendTo($("#"+tableid));
        for(var i=0;i<rowCount;i++)
        {
            var tr=$("<tr></tr>");
            tr.appendTo(table);
            for(var j=0;j<cellCount;j++)
            {
                var td=$("<td><img id='img"+(i*cellCount+j)+"'></td>");
                td.appendTo(tr);
            }
        }
        $("#createtable").append("</table>");
     }
</script>
{% endblock %}